body {
    background-color: lightblue;
}

@font-face {
    font-family: 'dyslexie';
    src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

.dyslexie {
    font-family: 'dyslexie', sans-serif;
    font-size: 20px;
    height: 7%;
    width: 10%;
    border-radius: 0px;
    background-color: #ffffff;

}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    text-align: center;
}

#siz {
    border-radius: 5px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    outline-style: solid;
    outline-width: 2px;
    width: 3%;

}

#bionic {
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

#font {
    border-radius: 5px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    height: 7%;
    width: 10%;
    background-color: #ffffff;
}

.slider {
    border-radius: 5px;
    width: 60%;
    height: 30px;
    outline-style: solid;
    outline-width: 2px;
    background: #ffffff;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    width: 20px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    background: #05265d;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}


.slider::-moz-range-thumb {
    width: 20px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    background: #05265d;
    cursor: pointer;
}